body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #3498db;
    text-align: center;  
}

h2 {
    color: #2ecc71;
    text-align: center;  
}

ul {
    list-style-type: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #3498db;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}
