<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scenario Analysis Results</title>
    <link rel="stylesheet" href="/static/scenario_analysis.css">
</head>

<body>
    <h1>Scenario Analysis Results</h1>

    {% if scenario_results %}
    <h2>Scenario Analysis Results</h2>
    <table border="1">
        <tr>
            <th>Scenario</th>
            <th>Discount Rate</th>
            <th>Cash Flows</th>
            <th>Present Value</th>
        </tr>
        {% for index, result in scenario_results %}
            <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ result['Discount Rate'] }}</td>
                <td>{{ result['Cash Flows'] }}</td>
                <td>{{ result['Present Value'] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>

</html>